body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    margin: 0 auto;
}

/* NAVIGATION SECTION */
#main-navigation {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    height: 69px;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    background-color: black;
    border-bottom: 1px solid seashell;
}
#main-navigation > img {
    margin-left: 10px;
    height: 50px;
    
}
.navbar > .navbar-item {
    display: inline-block;
    margin-right: 10px;
}
.navbar > .navbar-item > a{
    color: seashell;
}

/* HEADER SECTION -  */
header {
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg') ;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.headings {
    opacity: 1;
    width: 100%;
    text-align: center;
    background-color: black;
}
h1 {
    margin: 0;
}

h2 {
    margin: 10px;
}
h4 {
    margin: 0px;
}

/* BODY SECTION -  */

.products {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.product-item {
    display: flex;
    text-align: center;
    flex-direction: column;
}
.product-item > img {
    margin: 15px 15px 0 15px;
    width: 300px;
    height: 200px;
}
.product-item-desc {
    margin-top: 10px;
}

/* FOOTER SECTION */
#contact {
    margin-top: 50px;

    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg');
    background-repeat: no-repeat;
    background-position: bottom;

    width: 100%;
    min-height: 500px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.location-card > span {
    display: block;
    margin: 25px;
}
.location-card {
    word-wrap: unset;
    text-align: center;
    opacity: 1;
    min-width: 320px;
    background-color: black;
    margin: 15px 20px 5px 20px;
}
footer {
    height: 200px;
    text-align: center;
}
.copyright {
    margin-left: 20px;
    float: left;
}